[submodule "binutils"]
	path = binutils
	url = https://github.com/revyos/binutils-gdb.git
	branch = revyos-2.40
[submodule "gcc"]
	path = gcc
	url = https://github.com/revyos/gcc.git
	branch = revyos-gcc10.4-thead-dev
[submodule "glibc"]
	path = glibc
	url = https://github.com/revyos/glibc.git
        branch = revyos-2.36
[submodule "dejagnu"]
	path = dejagnu
	url = https://git.savannah.gnu.org/git/dejagnu.git
	branch = dejagnu-1.6.3
[submodule "newlib"]
	path = newlib
	url = https://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "gdb"]
	path = gdb
	url = https://sourceware.org/git/binutils-gdb.git
	branch = gdb-12-branch
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "musl"]
	path = musl
	url = https://git.musl-libc.org/git/musl
	branch = master
[submodule "spike"]
	path = spike
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
	branch = master
[submodule "pk"]
	path = pk
	url = https://github.com/riscv-software-src/riscv-pk.git
	branch = master
